
.navbar-default {
    background-color: #033048;
    border:none;
    padding: 20px;
}
.navbar-default .navbar-toggle {
    border:none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: yellow;
}
.nav.navbar-nav{
    float: right;
}
.navbar-default .navbar-nav>li>a {
    color: yellow;
    font-weight: 300;
}
.navbar-default .navbar-brand {
    color: white;
    font-size: 48px;
    font-weight: 800;
}
.navbar-nav>li {
    padding-right: 100px;
}
a {
    color: inherit;
}
