    
a {color:inherit;}      /* unvisited link */
a:visited {color:inherit;}  /* visited link */
a:hover {color:inherit;}  /* mouse over link */
a:active {color:inherit;}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: ;
}
