/** Overall Style classes
**/
.center-me {
    text-align: center;
}
.align-right {
    text-align: right;
}
/**Layout**/

body {
    font-family: 'Open Sans', sans-serif;
    background-color: ;
}
/**Top**/
#cover {
    background: url(../images/header_bg.jpg) no-repeat fixed center rgb(134,141,157);
  background-size: cover;
  height: 400px;
}
h1 {
    color: white;
    font-size: 20px;
    font-weight: 500;
    padding: 30px;
    padding-bottom: 10px;
}

/**Benefits**/
#benefits h1 {
    color: black;
    font-weight: 800;
}
#benefits p {
    padding-left: 30px;
    font-weight: 500;
    font-size: 12px;
}
ul {
    text-indent: 50px;
    list-style-position: inside;
    font-weight: 300;
    padding-bottom: 20px;
    font-size: 12px;
}

/**Testimony**/

#testimony {
    background: url(../images/testimonial_bg.jpg) no-repeat fixed center rgb(134,141,157);
  background-size: cover;
}
blockquote {
    padding: 100px;
    border-left: none;
    color: white;
    font-style: italic;
    font-weight: 300;

}

/**Desktop/Tablet**/

@media only screen and (min-width: 768px) {
    blockquote{
        font-size: 30px;
 }
h1 {
    font-size: 30px;
    }
#benefits p {
    font-size: 16px;
    }
ul {
    font-size: 14px;
}

}